# Introduction to Pandas
Pandas is a popular Python library for data analysis and manipulation. Pandas is an open-source library for working with tabular data (Excel, CSVs, SQL tables).

It provides two main data structures:
- Series: 1D labeled array
- DataFrame: 2D labeled table (like a spreadsheet)

### 1. Importing Pandas

In [1]:
import pandas as pd

### 2. Creating a Series
A Series is like a column in a table.

In [ ]:
data = [10, 20, 30, 40]
s = pd.Series(data)
print(s)

## 3. Creating DataFrames

A DataFrame is a 2-dimensional labeled data structure with columns that can be of different types. Let's create a simple DataFrame:

In [ ]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 22, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}

df = pd.DataFrame(data)
df

## 4. Basic DataFrame Operations

Let's explore some basic operations we can perform on our DataFrame:

In [ ]:
print("First 2 rows:")
print(df.head(2))

print("\nDataFrame Info:")
print(df.info())

print("\nStatistical Summary:")
print(df.describe())

## 5. Selecting Data

There are several ways to select data from a DataFrame:

In [ ]:
#select a single column
print("Names column:")
print(df['Name'])

# Select multiple columns
print("\nName and Age columns:")
print(df[['Name', 'Age']])

# select rows by index
print("\nFirst two rows:")
print(df.iloc[0:2])

## 6. Filtering Data

Let's learn how to filter data based on conditions:

In [ ]:
#Filter people older than 30
print("People older than 30:")
print(df[df['Age'] > 30])

# filter by multiple conditions
print("\nPeople from New York or London:")
print(df[df['City'].isin(['New York', 'London'])])

## 6. Data Manipulation

Let's see how we can modify our DataFrame:

In [ ]:
# new column adding
df['Salary'] = [50000, 45000, 60000, 55000]
print("DataFrame with new Salary column:")
print(df)

#sort the DataFrame
print("\nSorted by Age:")
print(df.sort_values('Age'))

## 7. Reading and Writing Data

Pandas can read and write data in various formats. Here's how to work with CSV files:

In [ ]:
#save our DataFrame to a CSV file
df.to_csv('students.csv', index=False)

# read the CSV file back
df_read = pd.read_csv('students.csv')
print("Data read from CSV:")
print(df_read)

Read more: https://pandas.pydata.org/docs/user_guide/10min.html